.parent {
    width: 300px;
    height: 200px;
    padding: 20px;
    color: #000;
    background-color: green;

}

.blockName{
      width: 300px;
    height: 200px;
    padding: 20px;
    color: #000;
    background-color: blue;
}

.deepChild{
     height: 30px;
    background-color: #21aacc;
    margin-bottom: 30px
}
